@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

/* Reset */
button{
  background:none;
  border:0;
  font-family: inherit;
  margin:0;
  padding:0;
}


/* Root */
:root{
  --space: 0.25rem;
  --color-pf-blue: #0099cc;
  --font-3:calc(var(--font-2)*1.25);
  --font-2:calc(var(--font-1)*1.25);
  --font-1:calc(var(--font-0)*1.25);
  --font-0: 1rem;
  --font--1: calc(var(--font-0)/1.25);

  /* Mixins */
  --buttonSecondary-white--icon_mini: {
    font-size: var(--font--1);
    color: white;
    padding: var(--space);
  }


}

body{
  font-family:'PT Sans', sans-serif;
  font-size: 21px;
  margin:0;
  -webkit-font-smoothing: antialiased;
}

a{
  color:var(--color-pf-blue);
}

.Hero{
  background-color:var(--color-pf-blue) 
}

.HeroGroup{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: var(--space);
  align-items: center;

}


.HeroGroup h1{
  color:white;
  font-size: var(--font-0);
  display:inline-block;
}


.HeroGroup button{
  @apply --buttonSecondary-white--icon_mini;
}

.HeroGroup button.btnBack{
  justify-self:start;
}